:root {
  --primary-color: #;
  --second-color: #777777;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 20px;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

hgroup {
  text-align: center;
}

h2 {
  padding: 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  background: linear-gradient(90deg, #eedd44, #f09f09, #d304e6);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

hgroup p {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 700;
}

.services .cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 10px #eee, -2px -2px 100px #eee;
  border-radius: 25px;
}

.card i {

  width: 60px;
  height: 60px;
  background: linear-gradient(to right bottom, #ffff00, #da33a7, #430049);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
}

.services .card-title {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
}

.services .card-info {
  color: var(--second-color);
  line-height: 1.8;
  font-size: 15px;
}

.cards .card:nth-child(even) {
  position: relative;
  top: 30px;
}